<nz-space nzAlign="center">
  <!-- <div *nzSpaceItem>金额范围:</div>
  <input *nzSpaceItem nz-input [(ngModel)]="min" placeholder="0">
  <div *nzSpaceItem>-</div>
  <input *nzSpaceItem nz-input [(ngModel)]="max" placeholder="999999"> -->
  <button *nzSpaceItem nz-button nzType="primary" (click)="search()">立即查询</button>
  <button *nzSpaceItem nz-button nzType="primary" (click)="createBankCard(createBankCardContent)"><span nz-icon
      nzType="credit-card" nzTheme="outline"></span>创建银行卡</button>
</nz-space>
<nz-divider></nz-divider>
<nz-tabset *ngIf="!isMerchant" [(nzSelectedIndex)]="activeTab" (nzSelectedIndexChange)="filterData()">
  <ng-container *ngFor="let status of tabs">
    <nz-tab [nzTitle]="status.title"></nz-tab>
  </ng-container>
</nz-tabset>
<nz-table #bankCards [nzShowTotal]="totalTemplate" [nzData]="showBankCardData" nzFrontPagination="false"
  [nzLoading]="loading" nzSize="small" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" [nzTotal]="page.total"
  (nzPageIndexChange)="pageIndexChange($event)">
  <thead>
    <tr>
      <th>银行卡信息</th>
      <th *ngIf="activeTab!=0">商户名称</th>
      <th>创建时间</th>
      <th>状态</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of bankCards.data">
      <td>
        <span nz-typography><strong>{{i.card_no}}</strong> </span>
        <span style="font-size: 12px;" nz-typography nzType="secondary">({{i.account_name}})</span>
        <br>
        <span nz-typography>{{i.bank_name}} </span>
        <br>
        <span nz-typography nzType="secondary">{{i.bank_address}}</span>
      </td>
      <td *ngIf="activeTab!=0">{{i.merchant_name}}</td>
      <td>{{i.create_time}}</td>
      <td>
        <nz-tag *ngIf="i.status==0" nzColor="magenta">关闭</nz-tag>
        <nz-tag *ngIf="i.status==1" nzColor="success">开启</nz-tag>
      </td>
      <td>{{i.memo}}</td>
      <td>
        <a nz-typography [nzDisabled]="i.loading" (click)="statusChange(i)">
          <span *ngIf="i.status==0">开启</span>
          <span *ngIf="i.status==1">关闭</span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-typography nzType="danger" (click)="delBankCard(i,delBankCardContent)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>


<!-- 创建银行卡模块 -->
<ng-template #createBankCardContent>
  <form nz-form [formGroup]="addForm" nzLayout="horizontal">
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="8" nzRequired>开户行</nz-form-label>
      <nz-form-control nzSpan="12" nzErrorTip="请填写开户行">
        <input nz-input formControlName="bank_name">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="8" nzRequired>银行卡号</nz-form-label>
      <nz-form-control nzSpan="12" nzErrorTip="请填写银行卡号">
        <input nz-input formControlName="card_no">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="8" nzRequired>开户人姓名</nz-form-label>
      <nz-form-control nzSpan="12" nzErrorTip="请填写开户人姓名">
        <input nz-input formControlName="account_name">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="8" nzRequired>开户行地址</nz-form-label>
      <nz-form-control nzSpan="12" nzErrorTip="请填写开户行地址">
        <input nz-input formControlName="bank_address">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="8">备注</nz-form-label>
      <nz-form-control nzSpan="12">
        <input nz-input formControlName="memo">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex>
      <nz-form-label nzSpan="8" nzRequired>谷歌验证码</nz-form-label>
      <nz-form-control nzSpan="12">
        <input nz-input formControlName="one_code">
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<!-- 删除银行卡模块 -->
<ng-template #delBankCardContent let-data>
  <div style="padding: 20px; background-color: #f3f3f3; margin-top: 20px; margin-left: -38px;">
    <span nz-typography>开户行: {{data.bankCard.bank_name}}</span><br>
    <span nz-typography>银行卡号: {{data.bankCard.card_no}}</span><br>
    <span nz-typography>开户人: {{data.bankCard.account_name}}</span><br>
    <span nz-typography>开户地址: {{data.bankCard.bank_address}}</span>
  </div>
</ng-template>

<ng-template #totalTemplate>
  共{{page.total}}笔
</ng-template>