<div class="container">
    <nz-space>
       
      </nz-space>
</div>
<div class="container">
    
</div>
<div class="container">
    
</div>


<nz-table #basicTable [nzData]="orderData">
    <thead>
      <tr>
        <th>充值金额</th>
        <th>银行</th>
        <th>限制私卡</th>
        <th>电子回单</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.amount}}</td>
        <td>{{data.bank_card_id}}</td>
        <td>{{data.only_private}}</td>
        <td>{{data.need_receipt}}</td>
        <td>{{data.create_time}}</td>
        <td>
          <a>立即抢单</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  