<div class="login-wrapper">
    <div class="login-box">
      <div class="login-header">
        <!-- <h1>Log In</h1> -->
        <p>Udui-Admin</p>
      </div>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>用户名</label>
          <input type="text" formControlName="username">
        </div>
  
        <div class="form-group">
          <label>密码</label>
          <input type="password" formControlName="password">
        </div>
  
        <div class="form-group">
          <label>谷歌验证码</label>
          <input type="password" formControlName="googlecode">
        </div>
        <div class="form-group">
          <button nz-button nzBlock nzType="primary" [nzLoading]="loading" [disabled]="loginForm.invalid">登录</button>
        </div>
      </form>
    </div>
  </div>
  