<!--
 * @Date: 2019-06-20 13:59:49
 * @LastAuthor: 曹雪原
 * @lastTime: 2020-12-14 15:18:32
 -->
<ul class="siderbar-box" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: showSidebarData }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus">
      <li *ngIf="!menu.children" nz-menu-item nzMatchRouter [nzPaddingLeft]="menu.level * 24"
        [nzDisabled]="menu.disabled" [nzSelected]="menu.selected">
        <i nz-icon [nzType]="menu.icon" nzTheme="outline" *ngIf="menu.icon"></i>
        <a [routerLink]="menu.url">{{ menu.title }}</a>
      </li>
      <li *ngIf="menu.children" nz-submenu [nzPaddingLeft]="menu.level * 24" [nzOpen]="menu.open" [nzTitle]="menu.title"
        [nzIcon]="menu.icon" [nzDisabled]="menu.disabled">
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>