<nz-tabset [(nzSelectedIndex)]="activeTab" (nzSelectedIndexChange)="getData()">
  <ng-container *ngFor="let status of statusData">
    <nz-tab [nzTitle]="status.title"></nz-tab>
  </ng-container>

</nz-tabset>
<nz-table #nzTable [nzData]="orderData" nzFrontPagination="false" [nzLoading]="loading">
  <thead>
    <tr>
      <th>银行卡订单</th>
      <th>金额</th>
      <th>状态</th>
      <!-- <th>充值凭证</th> -->
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of nzTable.data">
      <td>
        <b nz-typography>{{i.order_no}}</b><br>
        <span nz-typography nzType="secondary">{{i.card_no}}</span><br>
        <span nz-typography nzType="secondary">{{i.bank_name}}</span>
      </td>
      <td>
        {{i.amount | currency:''}}
      </td>
      <td>
        <nz-tag [nzColor]="statusMap[i.status].type">{{statusMap[i.status].title}}</nz-tag>
      </td>
      <!-- <td>
        <img nz-image width="50px" height="50px" [src]="i.voucher" />
      </td> -->
      <td>
        <a (click)="showDetail(i)">查看详情</a>
        <!-- <a href="#" (click)="edit(i)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="#" (click)="del(i)">Remove</a>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-dropdown>
          <a class="ant-dropdown-link" nz-dropdown>
            More <span nz-icon type="down"></span>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="">active</a>
            </li>
          </ul>
        </nz-dropdown> -->

      </td>
    </tr>
  </tbody>
</nz-table>