<nz-tabset [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="tabChange($event)">
  <ng-container *ngFor="let status of statusData">
    <nz-tab [nzTitle]="status.title"></nz-tab>
  </ng-container>

</nz-tabset>
<nz-table #nzTable [nzShowTotal]="totalTemplate" [nzData]="orderData" nzFrontPagination="false"
  [nzLoading]="loading" nzSize="small" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" [nzTotal]="page.total"
  (nzPageIndexChange)="pageIndexChange($event)">  <thead>
    <tr>
      <th>银行卡订单</th>
      <th>金额</th>
      <th>状态</th>
      <!-- <th>充值凭证</th> -->
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of nzTable.data">
      <td>
        <b nz-typography>{{i.order_no}}</b><br>
        <span nz-typography nzType="secondary">{{i.card_no}}</span><br>
        <span nz-typography nzType="secondary">{{i.bank_name}}</span>
      </td>
      <td>
        {{i.amount | currency:''}}
      </td>
      <td>
        <nz-tag [nzColor]="statusMap[i.status].type">{{statusMap[i.status].title}}</nz-tag>
      </td>
      <td>
        <a (click)="showDetail(i)">查看详情</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #totalTemplate>
  共{{page.total}}笔
</ng-template>