<nz-space nzAlign="center">
    <!-- <div *nzSpaceItem>金额范围:</div>
    <input *nzSpaceItem nz-input [(ngModel)]="min" placeholder="0">
    <div *nzSpaceItem>-</div>
    <input *nzSpaceItem nz-input [(ngModel)]="max" placeholder="999999">
    <button *nzSpaceItem nz-button nzType="primary" (click)="getList()" [nzLoading]="loading">立即查询</button> -->
    <button *nzSpaceItem nz-button nzType="primary" (click)="createOrder()"><span nz-icon nzType="unordered-list"
            nzTheme="outline"></span>创建新订单</button>
</nz-space>
<nz-divider></nz-divider>
<ng-container *ngIf="!isMerchant">
    <nz-radio-group [(ngModel)]="orderType" nzButtonStyle="solid" (ngModelChange)="changeMerchant()">>
        <label nz-radio-button [nzValue]="false">自营订单</label>
        <label nz-radio-button [nzValue]="true">商户订单</label>
    </nz-radio-group>
    <nz-divider></nz-divider>
</ng-container>
<nz-tabset *ngIf="!orderType" [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="getList()">
    <nz-tab *ngFor="let item of tabs" [nzTitle]="item.title"></nz-tab>
</nz-tabset>
<nz-tabset *ngIf="orderType" [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="getList()">
    <nz-tab *ngFor="let item of tabs2" [nzTitle]="item.title"></nz-tab>
</nz-tabset>
<nz-table #nzTable [nzData]="showOrderData" nzSize="small" nzFrontPagination="false" [nzLoading]="loading">
    <thead>
        <tr>
            <th>订单号</th>
            <!-- <th>银行</th> -->
            <th>金额</th>
            <th *ngIf="orderType">商户</th>
            <th>标签</th>
            <th>备注</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of nzTable.data">
            <td>{{i.order_no}}</td>
            <!-- <td>{{i.bank_card_id}}</td> -->
            <td>{{i.amount | currency:''}}</td>
            <td *ngIf="orderType">{{i.merchant_name}}</td>
            <td>
                <ng-container *ngIf="i.only_private==1"><nz-tag nzColor="processing">仅限私卡</nz-tag></ng-container>
                <ng-container *ngIf="i.only_single==1"><nz-tag nzColor="processing">不可拆单</nz-tag></ng-container>
                <ng-container *ngIf="i.need_receipt==1"><nz-tag nzColor="processing">需要电子回单</nz-tag></ng-container>
            </td>
            <td>{{i.memo}}</td>
            <td>
                <ng-container [ngSwitch]="i.status">
                    <ng-container *ngSwitchCase="0"><nz-tag nzColor="error">待审核</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="1"><nz-tag nzColor="error">待接单</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="2"><nz-tag nzColor="processing">待支付</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="3"><nz-tag nzColor="success">已完成</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="4"><nz-tag nzColor="default">已取消</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="4"><nz-tag nzColor="error">已驳回</nz-tag></ng-container>
                </ng-container>
            </td>
            <td>{{i.create_time}}</td>
            <td>
                <nz-space [nzSplit]="spaceSplit">
                    <ng-template #spaceSplit>
                        <nz-divider nzType="vertical"></nz-divider>
                    </ng-template>
                    <a *nzSpaceItem [nzDisabled]="detailLoading" nz-typography
                        (click)="showDetail(orderDetail,i)">查看详情</a>
                    <ng-container *ngIf="!isMerchant && i.status==0">
                        <a *nzSpaceItem (click)="merchantExamine(i,1)">审核</a>
                        <a *nzSpaceItem nz-typography nzType="danger" (click)="merchantExamine(i,5)">驳回</a>
                    </ng-container>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #orderDetail let-params>
    <nz-skeleton [nzActive]="true" [nzLoading]="detailLoading">
        <nz-descriptions nzTitle="订单信息">
            <nz-descriptions-item nzTitle="订单号">{{params.orderInfo.order_no}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="充值金额">{{params.orderInfo.amount | currency:''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="汇率">{{params.orderInfo.exchange_rate | currency:''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="标签">
                <ng-container *ngIf="params.orderInfo.only_private==1"><nz-tag nzColor="processing">仅限私卡</nz-tag></ng-container>
                <ng-container *ngIf="params.orderInfo.only_single==1"><nz-tag nzColor="processing">不可拆单</nz-tag></ng-container>
                <ng-container *ngIf="params.orderInfo.need_receipt==1"><nz-tag nzColor="processing">需要电子回单</nz-tag></ng-container>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="状态">
                <ng-container [ngSwitch]="params.orderInfo.status">
                    <ng-container *ngSwitchCase="0"><nz-tag nzColor="error">待审核</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="1"><nz-tag nzColor="error">待接单</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="2"><nz-tag nzColor="processing">待支付</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="3"><nz-tag nzColor="success">已完成</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="4"><nz-tag nzColor="default">已取消</nz-tag></ng-container>
                    <ng-container *ngSwitchCase="4"><nz-tag nzColor="error">已驳回</nz-tag></ng-container>
                </ng-container>
            </nz-descriptions-item>
            <!-- <nz-descriptions-item nzTitle="操作人">{{params.userInfo.username}}</nz-descriptions-item> -->
            <nz-descriptions-item nzTitle="备注" [nzSpan]="3">{{params.orderInfo.memo}}</nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions nzTitle="银行卡信息">
            <nz-descriptions-item nzTitle="开户名称">{{params.cardInfo.account_name}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="银行名称">{{params.cardInfo.bank_name}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="银行卡号">{{params.cardInfo.card_no}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="开户地址">{{params.cardInfo.bank_address}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="备注" [nzSpan]="3">{{params.cardInfo.memo}}</nz-descriptions-item>
        </nz-descriptions>
    </nz-skeleton>
</ng-template>