<div style="max-width: 600px;">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldPassword" nzRequired>当前密码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="oldPassword" placeholder="">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword" nzRequired>新密码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="newPassword" placeholder="">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reNewPassword" nzRequired>确认密码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="reNewPassword" placeholder="">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="googleCode" nzRequired>谷歌验证码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="googleCode" placeholder="">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzOffset="6" [nzSm]="14" [nzXs]="24">
                <button nz-button nzType="primary" [nzLoading]="loading">确认修改</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>