<div class="mb20">
    <button nz-button nzType="primary" (click)="bankCardVisible=true" [disabled]="basedataLoading">选择银行卡</button>
</div>
<nz-table class="mb20" #nzTable [nzData]="orderData" nzSize="small" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>银行卡</th>
            <th>充值金额</th>
            <th>资金类型</th>
            <th>备注信息</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of nzTable.data">
            <td>
                <span nz-typography><strong>{{i.card_no}}</strong> </span>
                <span style="font-size: 12px;" nz-typography nzType="secondary">({{i.account_name}})</span>
                <br>
                <span nz-typography>{{i.bank_name}} </span>
                <br>
                <span nz-typography nzType="secondary">{{i.bank_address}}</span>
            </td>
            <td>
                <nz-input-number [(ngModel)]="i.amount" [nzStep]="1" [nzPrecision]="2" [nzMin]="0"
                    [nzStatus]="i.amount<=0?'error':''"></nz-input-number>
            </td>
            <td>
                <nz-select style="width:100px;" [(ngModel)]="i.fund_type" name="value" nzPlaceHolder="" nzAllowClear
                    [nzStatus]="!i.fund_type?'error':''" [nzDisabled]="basedataLoading">
                    <nz-option *ngFor="let option of fundTypeData" [nzLabel]="option.label"
                        [nzValue]="option.value"></nz-option>
                </nz-select>

            </td>
            <td>
                <input nz-input [(ngModel)]="i.memo">
                <div>
                    <label nz-checkbox [(ngModel)]="i.only_private">仅限私卡转入</label>
                    <label nz-checkbox [(ngModel)]="i.only_single">不可拆单</label>
                    <label nz-checkbox [(ngModel)]="i.need_receipt">需要电子回单</label>
                </div>
            </td>
            <td>
                <a (click)="del(i)">删除</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="mb20" style="max-width: 600px;">
    <p><input nz-input [(ngModel)]="one_code" placeholder="谷歌验证码" [disabled]="orderData.length == 0"></p>
    <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" (click)="submit()" [nzLoading]="submitLoading" [disabled]="orderData.length == 0 || one_code.trim()==''">提交</button>
        <button *nzSpaceItem nz-button (click)="back()" [disabled]="submitLoading">返回</button>
    </nz-space>
</div>



<!-- 选择银行卡抽屉 -->
<nz-drawer [(nzVisible)]="bankCardVisible" nzTitle="选择银行卡" (nzOnClose)="bankCardVisible=false" nzWidth="80%"
    [nzFooter]="bankCardFooter">
    <ng-container *nzDrawerContent>
        <app-bank-order-batch-bank-card #bankCard [orderData]="orderData"></app-bank-order-batch-bank-card>
    </ng-container>
    <ng-template #bankCardFooter>
        <nz-space style="float: right;">
            <button *nzSpaceItem nz-button nzType="primary" (click)="checkedBankCard()">确定</button>
            <button *nzSpaceItem nz-button (click)="bankCardVisible=false">取消</button>
        </nz-space>
    </ng-template>
</nz-drawer>